@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Poiret+One&display=swap');


body {
    font-size: 15pt;
    box-sizing: border-box;
    font-family: 'Poiret One', cursive;
}
nav{
  background: #B9BFFF00;
}
#banner_Img{
  width: 100%;
  background: url(clipart/bg.svg);
  background-size: 220px;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: bottom;
  background-clip: border-box;
}
#img{
  margin-bottom: 20px;;
}

#fs .row{
  display: flex;
  flex-direction: column-reverse;
  
}
#fs .row h1{
  font-size: 2rem;
  font-family: 'Bungee Shade', cursive;
}
#fs .row p{
  font-size: 1rem;
}

.text{
  background: url(clipart/bg2.svg);
  background-size: contain;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: bottom left;
}



.img-con img{
  width: 120px;
}
.info{
  width: 150px;
  margin: 10px auto;
  box-shadow: 9px 9px 10px #E8E8E8;
  border-radius: 10px;
}
.img-con{
  background: #E4E4E4;
  border-radius: 10px 10px 0 0;
  clip-path: circle(105px at 80px 0px);
}






@media only screen and (min-width: 768px),(orientation: landscape) {
  #fs .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
  }
 
 #img{
   margin-bottom: none;
 }

#fs .row img{
  padding: 20px;
  background-size: 250px;
  background-repeat: repeat;
  background-clip: border-box;
}
  
}
